{namespace rkw=RKW\RkwBasics\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">

    <f:flashMessages as="flashMessages">
        <div class="typo3-messages">
            <div class="alert alert-danger">
                <div class="media">
                    <div class="media-body">
                        <div class="alert-message">
                            <f:for each="{flashMessages}" as="flashMessage">
                                {flashMessage.message}
                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:flashMessages>

	<f:if condition="{mediaSources}">
		<f:for each="{mediaSources}" as="mediaSource" iteration="iterator">
            <f:if condition="{mediaSource.imageTitle}">
                <f:then>
                    {mediaSource.imageTitle}:&nbsp;
                </f:then>
                <f:else>
                    <f:if condition="{mediaSource.imageDescription}">
                        <f:then>
                            {mediaSource.imageDescription}:&nbsp;
                        </f:then>
                        <f:else>
                            {mediaSource.fileName}:&nbsp;
                        </f:else>
                    </f:if>
                </f:else>
            </f:if> &copy;
            <f:if condition="{mediaSource.publisher}">{mediaSource.publisher} - </f:if>
            {mediaSource.distributerName}
            <f:if condition="{iterator.isLast} != 1"> / </f:if>
		</f:for>
	</f:if>
</f:section>